body{
    background-color:white;
    font-size:10%;
    }
   .info{
       font-size:1vw;
       display: block;
       word-break: break-wordS;
       float:centre;
    }
    image{
        width: 10vw;
        height:10vw;
    }
    